// PRIMARY
$--cth-btn-text-primary-text: #1b73e8;
$--cth-btn-contained-primary-background: #1b73e8;
$--cth-btn-contained-primary-text: #ffffff;
$--cth-btn-outlined-primary-border: #1b73e8;
$--cth-btn-outlined-primary-text: #1b73e8;

// PRIMARY - HOVER
$--cth-btn-text-primary-background-hover: #f7fafe;
$--cth-btn-text-primary-text-hover: #315fc6;
$--cth-btn-contained-primary-background-hover: #315fc6;
$--cth-btn-contained-primary-text-hover: #ffffff;
$--cth-btn-outlined-primary-border-hover: #315fc6;
$--cth-btn-outlined-primary-text-hover: #315fc6;

// PRIMARY - DISABLED
$--cth-btn-text-primary-text-disabled: #5e9bed;
$--cth-btn-contained-primary-background-disabled: #5e9bed;
$--cth-btn-contained-primary-text-disabled: #fdfdfd;
$--cth-btn-outlined-primary-border-disabled: #5e9bed;
$--cth-btn-outlined-primary-text-disabled: #5e9bed;

// SECONDARY
$--cth-btn-text-secondary-text: #6c757d;
$--cth-btn-contained-secondary-background: #6c757d;
$--cth-btn-contained-secondary-text: #ffffff;
$--cth-btn-outlined-secondary-border: #6c757d;
$--cth-btn-outlined-secondary-text: #6c757d;

// SECONDARY - HOVER
$--cth-btn-text-secondary-background-hover: #f0f1f2;
$--cth-btn-text-secondary-text-hover: #6c757d;
$--cth-btn-contained-secondary-background-hover: #4f5962;
$--cth-btn-contained-secondary-text-hover: #ffffff;
$--cth-btn-outlined-secondary-border-hover: #4f5962;
$--cth-btn-outlined-secondary-text-hover: #4f5962;

// SECONDARY - DISABLED
$--cth-btn-text-secondary-text-disabled: #989ea4;
$--cth-btn-contained-secondary-background-disabled: #989ea4;
$--cth-btn-contained-secondary-text-disabled: #fdfdfd;
$--cth-btn-outlined-secondary-border-disabled: #989ea4;
$--cth-btn-outlined-secondary-text-disabled: #989ea4;

// SUCCESS
$--cth-btn-text-success-text: #28a745;
$--cth-btn-contained-success-background: #28a745;
$--cth-btn-contained-success-text: #ffffff;
$--cth-btn-outlined-success-border: #28a745;
$--cth-btn-outlined-success-text: #28a745;

// SUCCESS - HOVER
$--cth-btn-text-success-background-hover: #eaf4ec;
$--cth-btn-text-success-text-hover: #2e9445;
$--cth-btn-contained-success-background-hover: #2e9445;
$--cth-btn-contained-success-text-hover: #ffffff;
$--cth-btn-outlined-success-border-hover: #2e9445;
$--cth-btn-outlined-success-text-hover: #2e9445;

// SUCCESS - DISABLED
$--cth-btn-text-success-text-disabled: #69c17d;
$--cth-btn-contained-success-background-disabled: #69c17d;
$--cth-btn-contained-success-text-disabled: #fdfdfd;
$--cth-btn-outlined-success-border-disabled: #69c17d;
$--cth-btn-outlined-success-text-disabled: #69c17d;

// WARNING
$--cth-btn-text-warning-text: #ffc107;
$--cth-btn-contained-warning-background: #ffc107;
$--cth-btn-contained-warning-text: #000000;
$--cth-btn-outlined-warning-border: #ffc107;
$--cth-btn-outlined-warning-text: #ffc107;

// WARNING - HOVER
$--cth-btn-text-warning-background-hover: #f2cd5c;
$--cth-btn-text-warning-text-hover: #99823c;
$--cth-btn-contained-warning-background-hover: #edb716;
$--cth-btn-contained-warning-text-hover: #000000;
$--cth-btn-outlined-warning-border-hover: #edb716;
$--cth-btn-outlined-warning-text-hover: #edb716;

// WARNING - DISABLED
$--cth-btn-text-warning-text-disabled: #ffd451;
$--cth-btn-contained-warning-background-disabled: #ffd451;
$--cth-btn-contained-warning-text-disabled: #000000;
$--cth-btn-outlined-warning-border-disabled: #ffd451;
$--cth-btn-outlined-warning-text-disabled: #ffd451;

// ERROR
$--cth-btn-text-error-text: #dc3545;
$--cth-btn-contained-error-background: #dc3545;
$--cth-btn-contained-error-text: #ffffff;
$--cth-btn-outlined-error-border: #dc3545;
$--cth-btn-outlined-error-text: #dc3545;

// ERROR - HOVER
$--cth-btn-text-error-background-hover: #df7680;
$--cth-btn-text-error-text-hover: #9f3c45;
$--cth-btn-contained-error-background-hover: #b83945;
$--cth-btn-contained-error-text-hover: #ffffff;
$--cth-btn-outlined-error-border-hover: #b83945;
$--cth-btn-outlined-error-text-hover: #b83945;

// ERROR - DISABLED
$--cth-btn-text-error-text-disabled: #e7727d;
$--cth-btn-contained-error-background-disabled: #e7727d;
$--cth-btn-contained-error-text-disabled: #fdfdfd;
$--cth-btn-outlined-error-border-disabled: #e7727d;
$--cth-btn-outlined-error-text-disabled: #e7727d;

// ICON
$--cth-btn-icon-background-hover: #0000001f;
$--cth-btn-icon-background-hover--dark: #7a7a7a4d;
$--cth-btn-icon-background-click: #000000;
$--cth-btn-icon-background-click--dark: #ffffff;
