@import '../common.scss';

@mixin button() {
  @include transition;
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  overflow: hidden;
  position: relative;
}
