// INPUT - IDLE
$--cth-input-border: #00000033;
$--cth-input-border--dark: #ffffff33;
$--cth-input-label: #000000cc;
$--cth-input-label--dark: #ffffffcc;
$--cth-input-text: #212121;
$--cth-input-text--dark: #ffffff;

// INPUT - HOVER
$--cth-input-border-hover: #000000cc;
$--cth-input-border-hover--dark: #ffffffcc;

// INPUT - FOCUS
$--cth-input-border-focus: #2f64c7;
$--cth-input-border-focus--dark: #90caf9;
$--cth-input-label-focus: #2f64c7;
$--cth-input-label-focus--dark: #90caf9;

// INPUT
$--cth-input-disabled: #00000066;
$--cth-input-disabled--dark: #ffffff66;

// OTHERS
$--cth-helper-text: #000000cc;
$--cth-helper-text--dark: #ffffffcc;
