// CHECKBOX - UNCHECKED
$--cth-checkbox-unchecked-icon: #666666;
$--cth-checkbox-unchecked-icon--dark: #ffffff;
$--cth-checkbox-unchecked-background-hover: #b2b5b730;
$--cth-checkbox-unchecked-background-hover--dark: #7a7a7a30;
$--cth-checkbox-unchecked-background-focus: #b2b5b760;
$--cth-checkbox-unchecked-background-focus--dark: #7a7a7a60;
$--cth-checkbox-unchecked-background-click: #000000;
$--cth-checkbox-unchecked-background-click--dark: #ffffff;

// CHECKBOX - CHECKED
$--cth-checkbox-checked-icon: #1b73e8;
$--cth-checkbox-checked-background-hover: #1b73e825;
$--cth-checkbox-checked-background-focus: #1b73e850;
$--cth-checkbox-checked-icon-disabled: #1b73e850;
$--cth-checkbox-checked-background-click: #5e9ae9;

// RADIO-BUTTON - UNCHECKED
$--cth-radio-button-unchecked-border: #666666;
$--cth-radio-button-unchecked-border--dark: #ffffff;
$--cth-radio-button-unchecked-background: #666666;
$--cth-radio-button-unchecked-background--dark: #ffffff;
$--cth-radio-button-unchecked-background-hover: #b2b5b730;
$--cth-radio-button-unchecked-background-hover--dark: #7a7a7a30;
$--cth-radio-button-unchecked-background-focus: #b2b5b760;
$--cth-radio-button-unchecked-background-focus--dark: #7a7a7a60;
$--cth-radio-button-unchecked-background-click: #000000;
$--cth-radio-button-unchecked-background-click--dark: #ffffff;

// RADIO-BUTTON - CHECKED
$--cth-radio-button-checked-border: #1b73e8;
$--cth-radio-button-checked-background: #1b73e8;
$--cth-radio-button-checked-background-hover: #1b73e825;
$--cth-radio-button-checked-background-focus: #1b73e850;
$--cth-radio-button-checked-background-click: #5e9ae9;

// SELECT
$--cth-options-background: #ffffff;
$--cth-options-background--dark: #2e2e2e;
$--cth-option-hover-background: #0000000a;
$--cth-option-hover-background--dark: #ffffff14;
$--cth-option-selected-background: #90caf929;
$--cth-option-text: #000000;
$--cth-option-text--dark: #ffffff;
$--cth-option-chevron: #00000080;
$--cth-option-chevron--dark: #ffffff;

// SWITCH
$--cth-switch-off-background: #3b3b3d;
$--cth-switch-off-border: #9d9d9e;
$--cth-switch-on-background: #035afc;
$--cth-switch-on-border: #035afc;
$--cth-switch-handler-background: #ffffff;
$--cth-switch-background-disabled: #5d6166;
$--cth-switch-border-disabled: #9d9d9e80;
$--cth-switch-handler-background-disabled: #5d6166;
