// COMMON
$--cth-neutral-1: #ffffff;
$--cth-neutral-blue-1: #035afc;
$--cth-neutral-sky-blue-1: #77b3cd;
$--cth-neutral-green-1: #28a745;
$--cth-neutral-green-2: #a7b45d;
$--cth-neutral-red-1: #d93025;
$--cth-neutral-orange-1: #df9862;
$--cth-neutral-orange-2: #fdb32a;

// LIGHT
$--cth-neutral-1: #1e2839;
$--cth-neutral-2: #8f939c;
$--cth-background: #f1f2f6;
$--cth-background-card: #ffffff;
$--cth-border: #e8e9eb;

// DARK
$--cth-neutral-1-dark: #ffffff;
$--cth-neutral-2-dark: #b9bbbe;
$--cth-background-dark: #1e262f;
$--cth-background-card-dark: #151d25;
$--cth-border-dark: #343c43;

// FORM
$--cth-label: #1a2027;
$--cth-label--dark: #ffffff;
$--cth-label-disabled: #1b212880;
$--cth-label-disabled--dark: #ffffff80;
$--cth-error: #d93025;
$--cth-error-focus: #b20c01;
