@import '../../../../../../styles/colors/common.scss';

.SwitchLabel {
  color: $--cth-label;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  margin-right: 15px;

  &--dark {
    color: $--cth-label--dark;
  }

  &--disabled {
    color: $--cth-label-disabled;

    &--dark {
      color: $--cth-label-disabled--dark;
    }
  }
}
